*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  background-color: blue;
  height: 3rem;
  width: 100%;
  line-height: 3rem;
}

nav p{
  font-size: 1.4rem;
  margin-left: 3rem;
  color: white;
}

section{
  margin:auto;
  justify-self: center;
  margin-top: 1vh;
  height: fit-content;
  border: 3px solid blue;
  border-radius:2rem;
  width: fit-content;
}

input{
  border-radius: 25px;
  height: 2.2rem;
  width: 100%;
  padding-left: 1rem;
  font-size: 1.8rem;
}

.search{
  padding: 0 1rem;
  margin: auto;
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.search p{
  text-align: center;
}

.search button{
  width: 100%;
  min-width: 100px;
  margin: auto;
  justify-content: center;
  margin-top: 2.5rem;
  background-color:rgb(14, 54, 165);
  padding: 0.6rem 0;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 30px;
}

section p{
  font-size: 2rem;
}

#result{
  text-align: center;
  font-size: 1.5rem;
  width: fit-content;
  margin: auto;
  padding-left: 1vw;
  padding-right: 1vw;
}

.result p{
  font-size: 1.5rem;
  margin-left: 2rem;
  width: fit-content;
}

img{
  position: relative;
  top: 1.3rem;
}

#local-info, #condition-text, #current-temp, #current-humidity,#current-windspeed{
  margin-bottom: 1rem;
  white-space: nowrap;
}

#error-message{
  margin: auto;
}

.btn-div{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#btn{
  padding: 0.5rem;
  width: 60%;
  font-size: 1rem;
  background-color: rgb(62, 62, 165);
  color: white;
  border-radius: 0.5rem;
}